<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">KonutAL.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <style>
             li {
        list-style-type: none;
    }

    .responsive-menu {


        font-size: 120%;
    }

    .responsive-menu ul li ul li {

        border-bottom: solid 1px white;
        border-top: solid 1px white;
    }

    .responsive-menu ul li ul {
         text-align: center;
        padding-right: 150px;
        display: none;
        font-size: 80%;

    }

    #trigger:checked + .responsive-menu ul li ul {
        display: block;
    }

    #trigger {
        display: none;
    }

    #trigger12 {
        display: none;
    }


    #trigger12:checked + .responsive-menu ul li ul {
        display: block;
    }

    .responsive-menu12 {

        padding: 10px;
        font-size: 200%;
    }

    .responsive-menu12 ul li ul li {
        padding: 10px;

    }

    .responsive-menu12 ul li ul {
        display: none;
        font-size: 60%;
        padding-top: 30px;
    }

    #trigger11 {
        display: none;
    }


    #trigger11:checked + .responsive-menu ul li ul {
        display: block;
    }

    .responsive-menu11 {

        padding: 10px;
        font-size: 200%;
    }

    .responsive-menu11 ul li ul li {
        padding: 10px;

    }

    .responsive-menu11 ul li ul {
        display: none;
        font-size: 60%;
        padding-top: 30px;
    }

    #trigger13 {
        display: none;
    }


    #trigger13:checked + .responsive-menu ul li ul {
        display: block;
    }

    .responsive-menu13 {

        padding: 10px;
        font-size: 200%;
    }

    .responsive-menu13 ul li ul li {
        padding: 10px;

    }

    .responsive-menu13 ul li ul {
        display: none;
        font-size: 60%;
        padding-top: 30px;
    }

    #trigger14 {
        display: none;
    }


    #trigger14:checked + .responsive-menu ul li ul {
        display: block;
    }

    .responsive-menu14 {

        padding: 10px;
        font-size: 200%;
    }

    .responsive-menu14 ul li ul li {
        padding: 10px;

    }

    .responsive-menu14 ul li ul {
        display: none;
        font-size: 60%;
        padding-top: 30px;
    }

            .dropbtn {
                background-color: #4CAF50;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }
        </style>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Anasayfa</a></li>
            <li class="dropdown" style="margin: auto;margin-right: 29px;margin-bottom:20px" >

                <ul class="nav-item" ><a href="/ilanlar" class="nav-link">İlanlar</a>
                  <div class="dropdown-content" style="width:200px;size: auto;background-color:rgba(224,241,255,0.90)" >
                            {% load mptt_tags %}

                    {% recursetree category %}
                           <li style="color:black">
                            {% if node.is_leaf_node %}
                        <a style="width: 100px;" href="/category/{{ node.slug }}/{{ node.id }}">

                            {{ node.title }}
                           {% endif %}
                            {% if not node.is_leaf_node %}
                                <input type="checkbox" id="trigger1{{ node.listeleme }}">
                                <div class="responsive-menu">
                                    <ul>
                                        <li>
                                            <label for="trigger1{{ node.listeleme }}">{{ node.title }} </label>

                                                    <ul>

                                                              {{ children }}


                                                    </ul>

                                        </li>

                                    </ul>
                                </div>

                            {% endif %}
                               </a>
 </li>
                    {% endrecursetree %}
                        </div>

                </ul>
  </li>
                <li class="nav-item"><a href="/iletisim" class="nav-link">İletişim</a></li>
                <li class="nav-item"><a href="/hakkimizda" class="nav-link">Hakkımızda</a></li>
                <li class="nav-item"><a href="/sss" class="nav-link">Sıkça Sorulan Sorular</a></li>

                {% if user.id is  not None %}
                    <div class="dropdown" style="margin:auto">
                    <img class="icon-adjust" style="border-radius: 20px" height="70px" width="70px" src="{{ user.userprofile.image.url }}">
                        <div class="btn py-3 px-4 btn-primary" style="size: auto"><a href="/user">{{ user.first_name }} {{ user.last_name }}</a></div>
                        <div class="dropdown-content">
                            <a href="/user/myhouses">İlanlarım</a>
                            <a href="/user/comments">Yorumlar</a>
                            <a href="/user">Hesap Ayarları</a>
                            <a href="/logout/">Çıkış</a>
                        </div>
                    </div>
                {% else %}
                    <ul style="opacity: .5;list-style-type: none;margin: auto;height:50%;align-items: center;display: flex">
                        <li class="nav-item cta"><a href="/login/" class="nav-link"><span>Giris Yap</span></a></li>
                        <li class="nav-item cta"><a href="/signup/" class="nav-link"><span>Üye Ol</span></a></li>
                    </ul>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>