{% extends "homebase.html" %}

{% block title %} Home Search Results {% endblock %}
{% block keywords %} {{ categorydata.keywords }}  {% endblock  %}
{% block description %} {{ categprydata.description }}  {% endblock %}

{% block head %}
        <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}



{% block body %}
    <div class="section">
    <div class="container">
        <div class="row">
        <table cellpadding="3" width="1200">
            <tr>
                <th>Image</th>
                <th>Home Title</th>
                <th>Category</th>
                <th>Fiyat</th>
            </tr>
            {% for rs in houses %}
                <tr>
                    <td><a href="/houses/{{ rs.slug }}/{{ rs.id }}"><img src="{{ rs.image.url }}" style="height: 300px;width:300px"> </a> </td>
                    <td><a href="/houses/{{ rs.slug }}/{{ rs.id }}">{{ rs.title }}></a> </td>
                    <td><a href="/category/{{ rs.category.slug }}/{{ rs.category.id }}">{{rs.category}} </a> </td>
                    <td><h4> {{ rs.price }}</h4> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    </div>
{% endblock %}
