{% extends "homebase.html" %}

{% block title %} İlanlar {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    {% load static %}
    {% load humanize %}


    <div class="col-lg-9">

        <h5 class="mr-2"><a href="/ilanlar">İlanlar</a>
            {% if categorydata.parent %}
                       / <a href="/category/{{ categorydata.parent.slug }}/{{ categorydata.parent.id }}">{{ categorydata.parent.title }}</a>/
            {% endif %}
            /<a href="/category/{{ categorydata.slug }}/{{ categorydata.id }}">{{ categorydata.title }}</a>
        </h5>
        <div class="row">

            <!-- İlanların Çekilmesi -->
            {% if not houses %}
                <div class="col-md-12 col-lg-12 ftco-animate">
                    <h1>Eşleşen bir ilan Bulunamadı </h1>
                </div>

            {% else %}
                {% for rs in houses %}
                    <div class="col-md-6 col-lg-4 ftco-animate">
                        <div class="project">
                            <div class="img">
                                <img src="{{ rs.image.url }}" class="img-fluid" alt="Colorlib Template">
                                <div class="text"> <h3><a href="/houses/{{ rs.slug }}/{{ rs.id }}">{{ rs.title }}</a></h3>
                                </div>
                            </div>
                            <div class="desc pt-3">
                                <h4 class="price">{{ rs.price|intcomma }} ₺</h4>
                                <p class="h-info"><span class="location">{{ rs.district }}</span> <span
                                        class="details">&mdash;{{ rs.get_city_display }}     </span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
		    		</div>
		    		<div class="row no-gutters my-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		                <li><a href="#">&lt;</a></li>
		                <li class="active"><span>1</span></li>
		                <li><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li><a href="#">5</a></li>
		                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
    </div>
    </div>
    </div>
    </section>
{% endblock %}
