{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block slider %}
    {% include "slider.html" %}
{% endblock %}

{% block body %}
    {% load static %}
    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-start mb-5">
                <div class="col-md-8 heading-section ftco-animate">
                    <h2 class="mb-4">Yeni Eklenenler</h2>
                    <p>Yeni Eklenen evleri aşağıdaki slider yardımıyla bulabilirsiniz.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-properties owl-carousel">
                        {% for rs in yeniEklenenler %}
                            <div class="item">
                                <div class="project">
                                    <div class="img">
                                        <img src="{{ rs.image.url }}" class="img-fluid" alt="Colorlib Template"
                                             style="height: 200px">
                                        <div class="text">
                                            <span>Sale</span>
                                            <h3><a href="/houses/{{ rs.slug }}/{{ rs.id }}">{{ rs.title }}</a></h3>
                                        </div>
                                    </div>
                                    <div class="desc pt-3">
                                        <h4 class="price">{{ rs.price }}</h4>
                                        <p class="h-info"><span class="location">{{ rs.get_city_display  }}</span> <span
                                                class="details">&mdash; {{ rs.district }}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
    </section>


{% endblock %}
