{% extends "homebase.html" %}

{% block title %} Login {% endblock %}
{% block keywords %} İletisim Sayfası anahtar kelimeler {% endblock %}
{% block description %} İletisim Sayfası açıklama {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block baslik %}
    {% include "baslik.html" %}
    {% block link %} iletisim {% endblock %}
{% endblock %}

{% block body %}
    {% load static %}


    <!- Login Formu Gönderme Bölümü -!>
    <div class="row" style="margin:100px;">
        <div style=" margin: auto;width: 50%;">
            <h1>User Login</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" rpşe="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

           <form method="post">
            {% csrf_token %}
            {% for field in form %}
               <p>
               {{ field.label_tag }}<br>
               {{ field }}
               {% if field.help_text %}
                   <small style="color:grey">{{ field.help_text }}</small>
               {% endif %}
                {% for error in field.errors %}
                    <p style="color:red">{{ error }}</p>
                {% endfor %}
                </p>
             {% endfor %}
           <button type="submit">Sign Up</button>
           </form>
        </div>

    </div>

{% endblock %}