 <style>
    a:link, a:visited, a:active {
        color: grey;

    }

    a:hover {

        color: black;
    }

</style>
<ul class="navbar-nav ml-auto" style="list-style: none">User Panel
    <hr>
    <li class="nav-item "><a href="/user/favorites" class="nav-link">Favoriler</a></li>
    <li class="nav-item "><a href="/user/myhouses" class="nav-link">ilanlarım</a></li>
    <li class="nav-item "><a href="/user/myComments" class="nav-link">Yorumlar</a></li>
    <li class="nav-item active"><a href="/user" class="nav-link">Hesap Ayarları</a></li>
    <li class="nav-item "><a href="/logout" class="nav-link">Çıkış</a>
    </li>
</ul>