{% extends "homebase.html" %}

{% block title %} İletisim Sayfası {% endblock %}
{% block keywords %} İletisim Sayfası anahtar kelimeler {% endblock %}
{% block description %} İletisim Sayfası açıklama {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block baslik %}
    {% include "baslik.html" %}
    {% block link %} iletisim {% endblock %}
{% endblock %}

{% block body %}
    {% load static %}
<style>
th{
    padding: 30px;
    padding-right: 100px;
    text-align:center;
}
td{
    display: flex;
    text-align: center;
    padding: 30px;
}

.button {
    background-color: limegreen;
    color: white;
    font-size: 14px;
    padding: 14px 40px;
    border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black; /* Green */
  color: white;
}
</style>
    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        <div class="container">
            <div class="row d-flex align-items-stretch no-gutters">
                <div class="col-md-2 p-4 p-md-5 order-md-last bg-light">
                    {% include 'user_panel.html' %}
                </div>
                <div class="col-md-10 p-4 p-md-5 order-md-last bg-light">
                    <h1>User Information</h1>
                    <hr>
                    <table >
                    <tr>
                    <th class="text-left">
                        <a href="/user/update" class="btn py-3 px-4 btn-primary">Update Profile</a>
                        <a href="/user/password" class="btn py-3 px-4 btn-primary">Change Password</a>
                    </th>
                    <td ><img class="icon-adjust" height="300px" width="250px" src="{{ profile.image.url }}"></td>
                     </tr>
                        <tr>
                            <th>İsim Soyisim</th>
                            <td style="text-align: center">{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ profile.user.email }}</td>
                        </tr>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ profile.phone }}</td>
                        </tr>
                        <tr>
                            <th>Adres</th>
                            <td>{{ profile.adress }}</td>
                        </tr>
                        <tr>
                            <th>Şehir</th>
                            <td>{{ profile.city }}</td>
                        </tr>
                        <tr>
                            <th>Ülke</th>
                            <td>{{ profile.country }}</td>
                        </tr>

                        </table>
                </div>

                </div>
            </div>
    <6*

    </section>

{% endblock %}
